{% extends 'base.html.twig' %}
{% block css %}<link rel="stylesheet" href="{{ asset('style/pages/informationsSortie.css') }}">{% endblock %}

{% block title %}Annuler une sortie{{parent()}}{% endblock %}

{% block body %}
    <main class="f-col a-cent">
        <h1 class="mb-64 tac">Annuler une sortie</h1>

        <section class="f a-cent mb-64 sortie-infos">
            <div>
                <p class="mb-16"><span class="span-200-strong">Nom de la sortie :</span> {{ sortie.nom }}</p>
                <p class="mb-16"><span class="span-200-strong">Date et heure de la sortie :</span> le {{ sortie.dateHeureDebut.format('d M Y à h:i') }}</p>
                <p class="mb-16"><span class="span-200-strong">Campus :</span>  {{ sortie.siteOrganisateur.nom }}</p>
                <p class="mb-16"><span class="span-200-strong">Lieu :</span>  {{ sortie.lieu.nom }}</p>

                {{ form_start(formAnnulationSortie) }}
                <div style="display: flex; flex-direction: column; align-items: center;">
                    {{ form_widget(formAnnulationSortie) }}
                    <div style="display: flex; justify-content: space-between; width: 100%;">
                        <button type="submit">Enregistrer</button>
                        <button type="button" onclick="window.history.back()">Annuler</button>
                    </div>
                </div>
                {{ form_end(formAnnulationSortie) }}
            </div>
        </section>
    </main>
{% endblock %}