{% extends 'base.html.twig' %}
{% block css %}<link rel="stylesheet" href="{{ asset('style/pages/ville-campus.css') }}">{% endblock %}

{% block title %}Campus {{parent()}}{% endblock %}

{% block body %}
    <main>
        <h1>Gérer les campus</h1>

        <h2 class="mb-32">Filtrer les sites</h2>

        {# Affichez le formulaire de recherche #}
        <form action="{{ path('app_campus') }}" method="get" class="mb-32">
            <input type="text" name="searchTerm" placeholder="Rechercher par nom ou code postal" value="{{ searchTerm }}" />
            <button type="submit">Rechercher</button>
        </form>

        {# Affichez le tableau de données #}
        <table>
            <thead>
            <tr>
                <th>Campus</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            
            {% for unCampus in campus %}
                <tr>
                        <form method="post" action="{{ path('campus_modifier', {'id': unCampus.id}) }}">
                            <td>
                                <span class="span{{ unCampus.id }}">{{ unCampus.nom }}</span>
                                <input type="text" name="new_name" value="{{ unCampus.nom }}" class="hidden-form input{{ unCampus.id }}" required>
                            </td>
                            <td>
                                <button type="button" class="edit-btn" data-form-id="{{ unCampus.id }}">Modifier</button> -
                                <a href="{{ path('campus_supprimer', {'id': unCampus.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce campus ?')">Supprimer</a>
                            </td>
                        </form>
                    </tr>
            {% endfor %}{# Ajoutez le formulaire de la ville #}
                <tr>
                    <td colspan="3">
                        {{ form_start(campusForm) }}
                            <tr>
                                <td>
                                    {{ form_widget(campusForm.nom, {'attr': {'placeholder': 'Nom du campus'}}) }}
                                </td>
                                <td>
                                    <button type="submit" name="submit" value="valider">Valider</button>
                                </td>
                            </tr>
                        {{ form_end(campusForm) }}
                    </td>
                </tr>
            </tbody>
        </table>

        {# Affichez les messages d'erreur ou de succes #}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </main>
{% endblock %}

{% block js %}<script src="{{ asset('js/ville-campus.js') }}"></script>{% endblock %}
