{% extends 'base.html.twig' %}

{% block title %}Créer une sortie {{parent()}}{% endblock %}

{% block body %}
    <main>
        <h1 class="mb-64">Créer une sortie</h1>
        
        <div class="f-col a-cent j-even">
            {{ form_start(sortieForm) }}
            {{ form_widget(sortieForm) }}

            <div>
                <label for="campus">Campus</label>
                <input type="text" id="Campus" value="{{app.user.campus.nom}}" readonly class="mb-32 ml-32" name="campus"/>
            </div>

            <div>
                <label for="ville">Ville</label>
                <select id="ville" class="mb-32 ml-32">
                {% for ville in villes %}
                    <option value="{{ ville.id }}">{{ ville.nom }}</option>
                {% endfor %}
                </select>
            </div>

            <div>
                <label for="lieu">Lieu</label>
                <select id="lieu" class="mb-32 ml-32" name="lieu"></select>
            </div>

            <div>
                <label for="rue">Rue</label>
                <input type="text" id="rue" value="" readonly class="mb-32 ml-32"/>
            </div>

            <div>
                <label for="codePostal">Code Postal</label>
                <input type="text" id="codePostal" value="" readonly class="mb-32 ml-32"/>
            </div>

            <div>
                <label for="latitude">Latitude</label>
                <input type="text" id="latitude" value="" readonly class="mb-32 ml-32"/>
            </div>

            <div>
                <label for="longitude">Longitude</label>
                <input type="text" id="longitude" value="" readonly class="mb-32 ml-32"/>
            </div>

            <button type="submit" name="submit" value="enregistrer">Enregistrer</button>
            <button type="submit" name="submit" value="publier">Publier la sortie</button>
            <button class="btn-danger ml-32" type="reset">Annuler</button>
            {{ form_end(sortieForm) }}
        </div>
    </main>
{% endblock %}

{% block js %}<script src="{{ asset('js/creerSortie.js') }}"></script>{% endblock %}