{% extends 'base.html.twig' %}
{% block css %}<link rel="stylesheet" href="{{ asset('style/pages/informationsSortie.css') }}">{% endblock %}

{% block title %}Afficher une sortie{{parent()}}{% endblock %}

{% block body %}
    <main class="f-col a-cent">
        <h1 class="mb-64 tac">Afficher une sortie</h1>

        <section class="f a-cent mb-64 sortie-infos">
            <div>
                <p class="mb-16"><span class="span-200-strong">Nom de la sortie :</span> {{ sortie.nom }}</p>
                <p class="mb-16"><span class="span-200-strong">Date et heure de la sortie :</span> le {{ sortie.dateHeureDebut.format('d M Y à h:i') }}</p>
                <p class="mb-16"><span class="span-200-strong">Date limite d'inscription :</span>  {{ sortie.dateLimiteInscription.format('d M Y') }}</p>
                <p class="mb-16"><span class="span-200-strong">Nombre de places :</span> {{ sortie.nbInscriptionsMax }}  </p>
                <p class="mb-16"><span class="span-200-strong">Durée:</span>  {{ sortie.duree }} minutes</p>
                <p ><span class="span-200-strong">Description et infos :</span>  {{ sortie.infosSortie }} </p>
            </div>
            <div class="ml-32">
                <p class="mb-16"><span class="span-200-strong">Campus :</span>  {{ sortie.siteOrganisateur.nom }}</p>
                <p class="mb-16"><span class="span-200-strong">Lieu :</span>  {{ sortie.lieu.nom }}</p>
                <p class="mb-16"><span class="span-200-strong">Rue :</span>  {{ sortie.lieu.rue }}</p>
                <p class="mb-16"><span class="span-200-strong">Code postal :</span>  {{ sortie.lieu.ville.codePostal }}</p>
                <p class="mb-16"><span class="span-200-strong">Latitude :</span>  {{ sortie.lieu.latitude }}</p>
                <p><span class="span-200-strong">Longitude :</span>  {{ sortie.lieu.longitude }}</p>
            </div>
        </section>

        <section class="a-self-start participant-list">
            <h2 class="mb-32">Liste des participants inscrits :</h2>

            <table>
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr>
                        <td data-label="Pseudo"><a href="{{ path('app_participant', {'id': participant.id }) }}">{{ participant.pseudo }}</a></td>
                        <td data-label="Nom">{{ participant.prenom }} {{ participant.nom | upper }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}