{% extends 'base.html.twig' %}

{% block title %}{{ participant.pseudo }} {{parent()}}{% endblock %}

{% block body %}
    <main class="f-col a-cent">
        <h1 class="tac mb-64">{{ participant.pseudo }}</h1>

        <div class="mb-64">
            <div><span class="span-200-strong">Prénom :</span> {{ participant.prenom }}</div>
            <div><span class="span-200-strong">Nom :</span> {{ participant.nom }}</div>
            <div><span class="span-200-strong">Téléphone :</span> {{ participant.telephone }}</div>
            <div><span class="span-200-strong">Email :</span> {{ participant.mail }}</div>
            <div><span class="span-200-strong">Campus :</span> {{ participant.campus.nom }} </div>
        </div>

        <button onclick="window.history.back()">Retour</button>
    </main>
{% endblock %}
