{% for campus in campuses %}
        <tr>
                <td data-campus-id="{{ campus.id }}" class="editable-campus">
                        <span class="editable-content">{{ campus.nom }}</span>
                        <form method="post" action="{{ path('campus_modifier', {'id': campus.id}) }}" >
                                <input type="text" name="newName" value="{{ campus.nom }}" class="hidden-form" required />
                                <td>
                                <button type="submit">Modifier</button> -
                                <a href="{{ path('campus_supprimer', {'id': campus.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce campus ?')">Supprimer</a>
                                </td>
                        </form>
                </td>

        </tr>
{% endfor %}

        <tr>
                <form action="{{ path('campus_ajouter') }}" method="post">
                        <td>
                                <input type="text" name="nouveauCampus" required placeholder="Nouveau campus">
                        </td>
                        <td>
                                <button type="submit">Valider</button>
                        </td>
                </form>
        </tr>
