{{ form_start(form) }}


<section>
    {{ form_start(form) }}
    <div>
        {{ form_row(form.rechercher) }}
    </div>
    <div>
        <button type="submit">Rechercher</button>
    </div>
    {{ form_start(form) }}
</section>

{{ form_end(form) }}
