<nav>
    <ul>
        <li><a href="{{ path('app_accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('app_profil') }}" title="Mon profil">Mon profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a></li>

{#
            {% if is_granted("ROLE_ADMIN") %}

                <li><a href="{{ path('admin_dashboard') }}" title="Villes">Villes</a></li>
                <li><a href="{{ path('admin_dashboard') }}" title="Campus">Campus</a></li>

            {% endif %}
#}
    </ul>
</nav>