
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut.format('d/m/Y H:i') }}</td>
        <td>{{ sortie.dateLimiteInscription.format('d/m/Y') }}</td>
        <td>{{ sortie.participants.count() }} / {{ sortie.nbInscriptionsMax }}</td>
        <td>{{ sortie.etat.libelle }}</td>
        <td>{% if app.user in sortie.participants %}X{% else %}O{% endif %}</td>
        <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|slice(0, 1) }}.</td>
        <td>
            {# Actions conditionnelles en fonction de l'état de la sortie, de l'organisateur et de la participation #}
                {% set isUserParticipant = false %}

                {% for participant in sortie.participants %}
                    {% if participant == app.user %}
                        {% set isUserParticipant = true %}
                    {% endif %}
                {% endfor %}

                {% if sortie.organisateur == app.user %}
                    {% if sortie.etat.libelle == "Créée" %}
                        <a href="">Modifier</a> -
                        <a href="">Publier</a>
                    {% elseif sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Clôturée" %}
                        <a href="">Afficher</a> -
                        <a href="">Annuler</a>
                    {% else %}
                        <a href="">Afficher</a>
                    {% endif %}
                {% else %}
                    <a href="">Afficher</a>
                    {% if sortie.etat.libelle == "Ouverte" %}
                        {% if isUserParticipant %}
                            - <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">Se désister</a>
                        {% else %}
                            - <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                    {% elseif sortie.etat.libelle == "Ouverte" and isUserParticipant %}
                        - <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">Se désister</a>
                    {% endif %}
                {% endif %}            
        </td>
