
        <td>{{ sortie.nom }}</td>
        <td data-label="Date Sortie">{{ sortie.dateHeureDebut.format('d/m/Y H:i') }}</td>
        <td data-label="Fin Inscription">{{ sortie.dateLimiteInscription.format('d/m/Y') }}</td>
        <td data-label="Place">{{ sortie.participants.count() }} / {{ sortie.nbInscriptionsMax }}</td>
        <td data-label="Etat">{{ sortie.etat.libelle }}</td>
        <td data-label="Inscrit">{% if app.user in sortie.participants %}X{% else %}O{% endif %}</td>
        <td data-label="Organisateur"><a href="{{ path('app_participant', {'id': sortie.organisateur.id }) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|slice(0, 1) }}.</a></td>
        <td>
                {% set isUserParticipant = false %}

                {% for participant in sortie.participants %}
                    {% if participant == app.user %}
                        {% set isUserParticipant = true %}
                    {% endif %}
                {% endfor %}


                {% if sortie.organisateur == app.user %}
                    {% if sortie.etat.libelle == "Créée" %}
                        <a href="">Modifier</a> -
                        <a href="">Publier</a>
                    {% elseif sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Clôturée" %}
                        <a href="{{ path('sortie_informationSortie', {'id': sortie.id}) }}">Afficher</a> -
                        <a href="">Annuler</a>
                    {% else %}
                        <a href="{{ path('sortie_informationSortie', {'id': sortie.id}) }}">Afficher</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('sortie_informationSortie', {'id': sortie.id}) }}">Afficher</a>
                    {% if sortie.etat.libelle == "Ouverte" %}
                        {% if isUserParticipant %}
                            - <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">Se désister</a>
                        {% else %}
                            - <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                    {% elseif sortie.etat.libelle == "Ouverte" and isUserParticipant %}
                        - <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">Se désister</a>
                    {% endif %}
                {% endif %}            
        </td>
