<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    <title>{% block title %} | ENI Sortir{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('style/main.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <header class="f j-betw">
        <a href="{{ path('app_accueil') }}"><img src="{{ asset('images/logo.png') }}" alt="Sorti"></a>
        <div>{% include ('inclusion/_nav.html.twig') %}</div>
    </header>

    {% block body %}{% endblock %}
    {% block js %}{% endblock %}

    <footer>
        <div>&copy; Sortir {{ "now"|date("Y") }} </div>
    </footer>
</body>
</html>

