<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    <title>{% block title %} | ENI Sortir{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('style/main.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <header class="f a-cent j-betw">
        <a href="{{ path('app_accueil') }}"><img src="{{ asset('images/logo.png') }}" alt="Sorti"></a>
        {% include ('inclusion/_nav.html.twig') %}
    </header>

    {% block body %}{% endblock %}

    <footer class="f a-cent j-cent">
        <p>&copy; ENI Sortir {{ "now"|date("Y") }} </p>
    </footer>

    {% block js %}{% endblock %}
</body>
</html>

