{% extends 'base.html.twig' %}

{% block title %}Créer un participant {{ parent() }}{% endblock %}

{% block body %}
<main>
    <h1 class="mb-64 tac">Créer un participant</h1>

    <div class="f-col a-cent j-even">
        {{ form_start(participantForm) }}

        {{ form_widget(participantForm) }}

        <div class="f a-cent j-cent boutons_reponsive">
            <button class="btn-scdr" type="submit">Enregistrer</button>
            <button class="btn-danger ml-32" type="reset">Annuler</button>
        </div>

        {{ form_end(participantForm) }}

        <a href="{{ path('admin_creer_participants') }}"><button>Créer des participants</button></a>
    </div>
</main>
{% endblock %}


